body{
    margin: 0 8%;
}

/* style pour ma navbar */
.navbar{
    margin-bottom: 10%;
    font-size: x-large;
}


/* Style pour la div vidéo */
.video-container {
    text-align: center; /* Centre horizontalement le contenu */
    max-width: 800px; /* Largeur maximale de la div */
    margin: 0 auto; /* Centre la div horizontalement */
    border: 1px solid #69a5e5; /* Bordure pour le cadre de la vidéo */
    padding: 10px; /* Espace interne pour la bordure */
}

/* Style vidéo */
.video-container video {
    max-width: 100%; 
}



/*  mon tableau glycemique */


.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 2px solid #ccc;
    background: linear-gradient(to top, #ffffff, #007BFF);
    padding: 10px;
    text-align: center;
}

th, td {
    padding: 10px;
    text-align: center;
}

input[type="text"] {
    width: 30%;
    padding: 5px;
}

.message {
    margin-top: 20px;
}

textarea {
    width: 100%;
}

/* Style pour la boîte*/
.gradient-box1 {
    display: flex;

    align-items: center;
}

.gradient-box1 p {
    margin: 5px 0;
    flex-direction: column;
}

.gradient-box1 p:not(:last-child) {
    border-right: 2px solid #ccc; /* Ligne verticale entre les phrases */
}

 


















































/* Style du formulaire d'inscription */
body .inscription{
    background-color: #007BFF;
}


form {
    max-width: 400px;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style pour les messages d'erreur (le cas échéant) */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}




/* Style pour le footer */
.footer {
    background-color: #333; /* Couleur de fond du footer */
    color: #fff; /* Couleur du texte du footer */
    padding: 20px 0; /* Espacement intérieur du footer */
    text-align: center; /* Centrer le texte */
    margin-top: 10%;
}

